@import '../../style/utils/variables';

.IndexPage {
  &__content-container {
  }

  &__about-container {
    margin-top: 70px;
    width: 100%;
    display: flex;
  }

  &__about-container-block {

    &_mainBlock { // Block with text information
      width: 70%;
      margin-top: 45px;

      h1 {
        font-weight: 600;
        font-size: 50px;
      }

      p {
        font-size: 25px;
        margin-bottom: 45px;
      }
    }

    &_imageBlock {
      margin-left: -150px;
      width: 35%
    }
  }

  &__cards-block {
    display: flex;

    &_card {
      transition: all 0.3s ease-in-out;
      width: 320px;
      height: 200px;
      margin: 145px -95px 0 0;
      background: linear-gradient(203.6deg, rgba(255, 255, 255, 0.4) 10.18%, rgba(255, 103, 84, 0) 102.03%, rgba(255, 255, 255, 0.1) 102.03%);
      box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      padding: 15px 18px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }

    &_rectangle {
      background: #FF6754;
      width: 300px;
      height: 400px;
      box-shadow: 0 10px 12px rgba(246, 74, 53, 0.18);
      border-radius: 20px;
      transition: all 0.3s ease-in-out;

      &:hover, &:focus {
        background: #E55B4B;
      }
    }

    &_circles {
      margin-top: 68px;
      transition: 3s;
    }

    &_circle {
      //make smooth transition
      width: 45px;
      height: 45px;
      margin-left: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(140deg, rgba(0, 0, 0, 0.2) -4%, rgba(67, 77, 86, 0) 106%);
      border-radius: 50px;

      &:hover, &:focus {
        background: linear-gradient(140deg, rgba(0, 0, 0, 0.2) -4%, rgba(0, 0, 0, 0.134) 106%);
      }

      &:first-child {
        margin-left: 0;
      }

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
  &__hot-subscriptions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    //display: flex;
    //justify-content: center;
    //flex-wrap: wrap;
    ////get acces to children
    //div {
    //    &:nth-child(odd) {
    //        margin-right: 45px;
    //    }
    //    &:nth-child(n+3) {
    //        margin-top: 45px;
    //    }
    //}
  }
  &__hot-subscriptions-title {
    margin: 175px 30px 25px;
    font-size: 35px;
    font-weight: 600;
  }
  &__hot-subscriptions-button{
    margin: 30px 0 300px 0;
    float: right;
  }
}
