@import "src/style/utils/variables";

.Input {
  $root: &;

  font-size: 15px;
  color: $pale-color;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 10px;
  max-width: 300px;
  border: 1px solid $pale-color;
}